<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {role: "form", class: "form-signin", id: "formID", method: :put }) do |f| %>
    <h3 class="form-signin-heading">Change your password</h3>  
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <%= f.password_field :password, :class => "form-control validate[required,minSize[8]]", :placeholder => "Enter new password", autofocus: true, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, :class => "form-control validate[required,equals[client_password]]", :placeholder => "Enter new confirm password", autocomplete: "off" %>



    <%= f.submit "Change password", class:"btn btn-lg btn-primary btn-block" %>
    <% end %>

    <div class="form-signin">
      <%= render "clients/shared/links" %>
    </div>
